@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* detail root variables */
:root {
  --font-serif: 'Montserrat', sans-serif;
  --font-mono: 'Fuzzy Bubbles', cursive;
  --color-text: #efeee7;
  --color-bg: #223458;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.table {
  margin: 30px auto 0px auto;
  padding: 50px;
}

.drawer-icon {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  font-size: larger;
  align-items: center;
}

.drawer-name {
  font-family: var(--font-serif);
}

.form,
.changementor-fromcontrol {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 20px;
  padding: 0px 50px;
}

.findmentor-fromcontrol {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 40px;
  gap: 20px;
  padding: 0px 50px;
}

.add-student-centent,
.add-mentor-centent {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: medium;
  letter-spacing: 2px;
  margin-top: 40px;
}

.button {
  padding: 12px;
  border-radius: 20px;
}

.add-btn {
  display: flex;
  margin-top: 40px;
  align-items: flex-end;
  flex-direction: column;
  padding: 12px;
  border-radius: 20px;
}

.homepage {
  padding: 5rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  font-family: 'Fuzzy Bubbles', cursive;
  letter-spacing: 1.5px;
}

.list>div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: center;
}

.home-page-title {
  text-align: center;
  font-family: var(--font-serif);
  margin-bottom: 40px;
}